<!DOCTYPE html>
<html lang="en" ng-app="simple">

<head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css">
</head>

<title>Front End Practice - Drinks</title>

<body>
    <header>
    </header>

    <div class="container" ng-controller="SimpleController">
        <div class="jumbotron">
            <h3>Filter by this input</h3>
            <input type="text" ng-model="filter.name" />
            <h3>Looping with the ng-repeat Directive</h3>
            <ul>
                <li ng-repeat="person in people | filter:filter.name | orderBy:''">{{ person.name }} - {{person.profession}}</li>
            </ul>
            <nav-pane></nav-pane>
        </div>
    </div>
    <script src="/bundle.js"></script>
</body>

</html>